*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.about-area{
    padding-top: 100px;
    padding-bottom: 100px;
}
.color-title{
    color: #060518;
    padding-bottom: 100px;
}
.text-color-violed,
.violed-color{
    color: #161231;
}
.when-hover:hover .violed-color{
    color: #ffffff;
}
.text-color-violed{
    font-weight: 700;
    padding-bottom: 20px;
}
.chooes-btn{
    display: block;
    background-color: rgb(241 241 241);
    color: #326AC1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
 
}
.package{
    padding-bottom: 100px;
}
.when-hover{
    position: relative;
}
.hot-btn{
    position: absolute;
    right: 35px;
    top: -19px;
    border-radius: 20px;
    display: none;

}
.chooes-btn:hover{
    color: #326AC1;
}
.when-hover:hover .hot-btn{
    display: block;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.when-hover:hover{
    transition:background-color 1s ;
    background-color: #326AC1;
    color: #ffffff;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    -webkit-transition:background-color 1s ;
    -moz-transition:background-color 1s ;
    -ms-transition:background-color 1s ;
    -o-transition:background-color 1s ;
}
.fa-check-circle{
    color: rgb(223 223 223);

}
.faq-area{
    padding-bottom: 100px;
}

.faq-area .accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid gainsboro;
}
.col-md-6.border {
    padding: 0;
}
.footer-area{
    background-color:#0B0D17;
    padding: 50px 0px;
    
}
.footer-area h3{
font-size: 20px;

}